.table-list{
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.table-list-item{
    width: 22%;
}

.table-box{
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    position: relative;
}

.count{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    font-weight: 600;
}

.table-box img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.table-desc{
    width: 100%;
    padding: 5px;
}

.table-desc p{
    margin: 0;
}

.button-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-box button{
    border: 1px solid grey;
    border-radius: 30%;
    margin: 0 10px;
    outline: none;
    background: inherit;
    padding: 10px;
    width: 45px;
}